/vendor
/node_modules
/public/storage
/.env
/.env.backup
/.env.production
.phpunit.result.cache
/storage/*.key
/storage/debugbar/
/storage/framework/
/storage/logs/
/public/build
/public/hot
/public/mix-manifest.json
/bootstrap/cache/*.php
/resources/lang/knockout
/resources/lang/signup
/resources/lang/support
/resources/lang/two_factor_auth
/.tmp/
.php_cs.cache
.php_cs.dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
